<style>
    body {
        background-color: 10101A;
        color: white;
        font-family: 'HK Grotesk',  sans-serif;
        text-align: center;
        margin: 0;
        font-size: 72;
        padding-top: 20%;
    }
</style>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css"> 
</head>
<body>
    <p>Thank you for subscribing!</p>
</body>